body{
    background-color:rgb(248, 248, 248);
}


.bg-img {
    display: flex;
    flex-direction: column;
    background: url(../images/bg.webp) top center no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 40px; 
}

.center{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 9%;
   
}


h1 {
    font-size: 64px;
    color:#f1f1f6;
    justify-content: center;
    margin-bottom: 100px;
    text-align: center;

}

.container img {
    width: 100%;
    height: auto;
}

.container h2 {
    padding: 100px;
    font-size: 50px;
}

.container h3 {
    font-size: 50px;
    padding: 40px;
}

  .container h4{
      margin: px 0px 50px 0px;
  }
  
  
  
  .container .btn:hover {
    background-color: black;
  }

  .centered {
      
	display: inline-block;	
	box-sizing: border-box;
	padding: 6px 12px 6px 12px;
	
	outline: none;
	border-radius: 50px;
	height: 60px;
	line-height: 46px;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: rgb(253, 252, 252);
	background-color: rgb(241, 156, 19);
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
    text-align: center;
    
}
.centered:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.centered:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.centered:active {
	background-color: #808080;
}
.centered:disabled {
	background-color: rgb(93, 11, 11);
	border-color: rgb(24, 8, 8);
	color: rgb(22, 8, 8);
	cursor: not-allowed;
}
.btn {
    width: 200px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: 1px solid #f1f1f6;
    cursor: pointer;
    border-radius: 50px;
}
.btn:hover {
    color: rgb(235, 36, 36);
    background: rgb(253, 251, 251);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}


.text {

}
.img {
    position: relative;
}

 .need {
     padding: 100px 50px 0px 400px;
     font-size: 50px;
     font-weight: 500;
 }
 .centered2 {
    display: inline-block;	
	padding: 6px;
	border-radius: 50px;
	line-height: 46px;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: rgb(253, 252, 252);
	background-color: rgb(241, 156, 19);
	transition: box-shadow 0.2s;
   
    width: 200px;
 }
 .centered2:hover {
	color: rgb(235, 36, 36);
    background: rgb(253, 251, 251);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}

.row {
   padding: 50px; 
}

.centered3{
   
	padding: 6px;	
	border-radius: 50px;
	height: 60px;
	line-height: 46px;
	font-size: 20px;
	font-weight: 600;
	color: rgb(253, 252, 252);
	background-color: rgb(241, 156, 19);
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    width: 300px;   
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
    height: 300px;
    background-color: rgb(214, 220, 226);
    margin: 0 auto;
    padding-top: 50px;
}
 
footer p {
    font-size: 35px;
    font-weight: 100;
    text-align: center;
}

footer p span b{
    font-size: 45px;
}

.down{
 
font-size: 14px;
font-weight: 100;
display: inline-block;
}

div.vertical-line {
    border-left: 1px solid #808080;
    height: 30px;
    display: inline-block;
    width: 1px;
}
.down2{
    display: inline-block;
    font-weight: 100;  
}

.seet {
    font-size: 15px;
    font-weight: 100; 
    display: inline-block;

}
.block__row{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 40px; 
}

 .fox{
    display: flex;
    margin-left: auto;
    vertical-align: bottom;
    align-items: flex-end;
} 
